@font-face {
  font-family: "GangwonState";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hana_handwriting";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Hana_handwriting.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: "Hana_handwriting";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
p {
  font-family: "Hana_handwriting";
}

button {
  font-family: "Hana_handwriting";
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
